@use '../assets';
.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
  gap: 1rem;
  border-top: none;
  border: 1px solid assets.$border_color;
  > :nth-child(4) {
    grid-column: span 2;
  }

  > :last-child {
    padding-right: 0.5rem;
    grid-column: span 2;
  }
  * {
    color: assets.$main_text_color;
    font-size: 13px;
    font-weight: 500;
    text-align: end;
    padding-block: 0.2rem;
  }
}
.nameRankImg {
  display: flex;
  grid-column: 1 / span 2;
  gap: 0.5rem;
  align-items: center;
  padding-left: 0.5rem;

  // TODO work needed here urgently
  // border-right: 1px solid assets.$border_color;
  // outline: 1px solid red;
  p:last-of-type {
    margin-left: auto;
    padding-right: -0.5rem;
  }
  > :first-child,
  > :nth-child(3) {
    color: #7a9dd7;
    text-align: start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
