@use '/styles/breakpoints.scss';
@use '../assets';
.nameRankImg {
  padding-block: 0.4rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border: 1px solid assets.$border_color;
  border-top: none;
  border-right: none;
  > :first-child {
    > :nth-child(3) {
      color: assets.$main_nav;
    }
    padding-left: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-inline: 0;
  }
  > :last-child {
    align-items: center;
    display: flex;

    margin-inline: 0;
    margin-left: auto;
    margin-right: 0.5rem;
    @include breakpoints.media(">=phone", "<tablet") {
      margin: 0;
      text-align: start;
      padding: 0;
    }
  }

  @include breakpoints.media(">=phone", "<tablet") {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
}
.price {
  border-left: 1px solid assets.$border_color;
  padding-inline: 0.2rem;
}
.sparkline {
  padding-block: 0.3rem;
  // outline: 1px solid red;
  padding-inline: 0.2rem;
}
