@use '/styles/breakpoints.scss';
@use '../assets';
.region {
  overflow: auto;
  min-width: 95vw;
  border: 1px solid assets.$border_color;
}
.tableStyled {
  width: 100%;
  z-index: 9999;
  padding-inline: auto;
  border-collapse: collapse;
  border-spacing: 0;
  white-space: nowrap;
  min-width: 100%;
  line-height: 18px;
  * {
    color: assets.$main_text_color;
    font-size: 0.8rem;
    padding-inline: auto;
    padding-block: auto;
  }
  .tableHeads {
    position: sticky;
    inset: 0;
    z-index: 999;
    > :first-child {
      text-align: start;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: sticky;
      inset: 0;
    }
    > * {
      border: 1px solid assets.$border_color;
      border-right: none;
    }
    > :last-child {
      border-right: 1px solid assets.$border_color;
    }
  }
}

.tHead {
  th {
    padding: 0.5rem;
    margin-inline: 0;
    font-weight: 850;
  }
}
