@use '/styles/breakpoints.scss';
@use '../assets';
.tableStyled {
  padding-inline: auto;
  border-collapse: collapse;
  min-width: 100%;
  line-height: 16px;
  * {
    color: assets.$main_text_color;
    font-size: 0.85rem;
    padding-inline: auto;
    padding-block: auto;
  }
  .tableHeads {
    > :first-child {
      text-align: start;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    > * {
      border: 1px solid assets.$border_color;
      border-right: none;
    }
    > :last-child {
      border-right: 1px solid assets.$border_color;
    }
  }
}

.tHead {
  th {
    padding: 0.5rem;
  }
}
.tableBody {
}
