@use '/styles/breakpoints.scss';
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  * {
    font-size: small;
  }
  // outline: 1px solid red;
  @include breakpoints.media(">=tablet", "<desktop") {
    gap: 0rem;
  }
  @include breakpoints.media(">=desktop") {
    gap: 1rem;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: consolas;
  }
}

.firstDiv {
  margin-right: 1rem;

  div:first-child {
    background: url("https://static.coinpaprika.com/dist/assets/fonts/cp-logo-small.svg")
      no-repeat 50% 50%;
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
  }
}
