@use '/styles/breakpoints.scss';
@use '../assets';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  * {
    font-size: small;
    color: assets.$main_nav;
  }
  // outline: 1px solid red;
  @include breakpoints.media(">=tablet", "<desktop") {
    gap: 0rem;
  }
  @include breakpoints.media(">=desktop") {
    gap: 1rem;
  }

  @include breakpoints.media(">=phone", "<tablet") {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // finish responsiveness
    > :last-child {
      visibility: visible;
      width: 100%;
    }
    visibility: hidden;
    margin: 0;
    padding: 0;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: consolas;
  }
}

.firstDiv {
  margin-right: 1rem;

  div:first-child {
    background: url("https://static.coinpaprika.com/dist/assets/fonts/cp-logo-small.svg")
      no-repeat 50% 50%;
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
  }
}

.signInOut {
  @include breakpoints.media(">=phone", "<tablet") {
    visibility: visible;
    // outline: 1px solid cyan;
  }
  border: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  & div {
    font-family: "inter";
    font-weight: bold;
    font-size: small;
    cursor: pointer;
    border: none;
    padding-left: 0.5rem;
    border-left: 1px solid gray;
  }
}
.darken {
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
  position: fixed;
  z-index: 1199;
  display: flex;
  align-items: center;
  justify-content: center;
  .modal {
    display: flex;
    padding-block: 0.8rem;
    padding-inline: 1rem;
    gap: 1rem;
    flex-direction: column;
    outline: 1px solid assets.$main_text_color;
    position: fixed;
    & button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      color: rgb(218, 218, 218);
      font-weight: 600;
      border: 1px solid black;
      background-color: black;
      padding-block: 0.5rem;
      padding-inline: 1.3rem;
      border-radius: 20px;
      transition: all 0.3s ease;

      &:hover {
        opacity: 0.7;
      }
    }
    & header {
      & span {
        color: assets.$main_text_color;
        cursor: pointer;
      }
      line-height: 16px;
      text-align: end;
      font-weight: bold;
    }
    & h2 {
      font-size: 1.5rem;
      font-family: "Consolas";
      color: white;
    }
  }
}

.userInfo {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
  &:hover {
    filter: brightness(1.2);
    padding: 0.4rem;
    border-radius: 10px;
  }
  & img {
    width: 20px;
  }
  & span {
    font-size: 0.5rem;
  }
  & h3 {
    color: assets.$main_text_color;
  }
}
