@use '/styles/breakpoints.scss';
.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  @include breakpoints.media(">=desktop") {
    margin-left: 10rem;
    margin-right: 10rem;
  }
  @include breakpoints.media(">tablet", "<desktop") {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  @include breakpoints.media("<phone") {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
