@use '/styles/assets';
.container {
  @include assets.flexHelper(center, space-between, 0.5rem);
  font-size: small;
  padding: 1rem 1.5rem 1rem 1.5rem;
  div {
    border: none;
    padding: 0;
  }
}
.breaker {
  margin-top: 2rem;
  border-top: 1px solid gray;
  .appendices {
    color: gray;
    margin: 0 0 0 1.5rem;
    font-size: 0.85rem;
  }
}
