@use '/styles/assets';
.container {
  padding-left: 1rem;
  padding-right: 1rem;
  border-left: 1px solid gray;
  @include assets.flexHelper(center, center, 0rem);
  cursor: pointer;

  p:hover,
  div:hover {
    color: assets.$hover_nav;
  }
  p {
    text-align: center;
    color: #80a6e5;
  }
  div {
    color: #80a6e5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.image {
  margin-top: 0.2rem;
}
