@use '/styles/assets';
.container {
  @include assets.flexHelper(center, space-between, 0);
  margin-right: 3rem;
  cursor: pointer;
}
.notSelected {
  h4 {
    color: assets.$main_nav;
    font-size: 0.7rem;
    font-weight: unset;
    h4:hover {
      color: assets.$main_nav;
    }
  }
}

.isSelectedRoute {
  & h4 {
    @extend .notSelected;
    color: white;
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
    font-weight: 600;
    border-bottom: 3px solid gray;
  }
}
